/*==================Universal flex settings==========*/
.container {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 2px solid black;
    padding-bottom: 80px;

}

.type-title {
    flex-basis: 100%;

}

.box {
    padding: 0 2rem;
}

.box1,
.box2,
.box3 {
    padding: 1.5rem;
    padding-right: 0;
}

.code-box {
    background-color: black;
    padding: 20px;
    display: block;
    color: white;
    font-size: 15px;
    width: 300px;
}

.element-box{
    
}

/*========================interaction flex setting=============*/
.interactive_elements .container {
    margin: 0 2rem;
    padding-bottom: 0px;
    border-bottom: 2px solid black;
    align-items: baseline;
    align-items: baseline;
}
.interactive_elements{
    display: flex;
    flex-direction: column;
}

.interactive_elements .type-title {
    flex: 1 1 15%;
font-size: 25px;
    margin-bottom: 20px;
}

.interactive_elements .box1 {
    flex: 1 1 15%;
    margin-bottom: 20px;
}

.interactive_elements .box2 {
    flex: 3 1 30%;

    margin-bottom: 20px;
}

.interactive_elements .box3 {
    flex: 2 1 20%;
    margin-bottom: 20px;

}



@media (max-width:810px){
    .interactive_elements .type-title{
        text-align: center;
        flex-basis: 100%;
        width: 100%;
    }
    .interactive_elements .box1,
    .interactive_elements .box2,
    .interactive_elements .box3{
        flex-basis: 100%;
        padding: 0 2rem;
    }
    
    .interactive_elements .container{
        padding:1rem 0 2rem 0;
    }
     
    .interactive_elements h4{
        margin-bottom: 12px;
    }
    
}

/*===============TEXT ELEMENTS============*/


.sample-heading {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

.sample-heading h1,
.sample-heading h2,
.sample-heading h3,
.sample-heading h4 {
    padding: 0 20px 20px 0;
    text-align: left;
    margin: 0;

}

/*======================Cart===========*/
.cart {
    display: flex;
    flex-direction: column;
    width: 600px;
}

.cart-box {
    display: flex;
    border-bottom: 2px solid black;
}
